@{
    ViewData["Title"] = "Charity Items";
    Layout = "~/Areas/Community/Views/Shared/_CommunityLayout.cshtml";
}

<h3 class="mb-3">Charity Items</h3>

<div class="card shadow-sm">
    <div class="card-body">

        <table class="table table-bordered table-striped align-middle" id="tblCharity">
            <thead class="table-dark">
                <tr>

                    <th style="width:100px;">Image</th>
                    <th>Item Name</th>
                    <th>Description</th>
                    <th style="width:100px;">Quantity</th>
                    <th style="width:120px;">Status</th>
                    <th style="width:150px;">Created Date</th>
                    <th style="width:150px;">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="7" class="text-center">Loading...</td>
                </tr>
            </tbody>
        </table>

    </div>
</div>
<div class="modal fade" id="volunteerModal" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">Assign Volunteer</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body">
                <input type="hidden" id="selectedCharityId" />

                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Mobile</th>
                            <th>Email</th>
                            <th style="width:120px;">Action</th>
                        </tr>
                    </thead>
                    <tbody id="tblVolunteers">
                        <tr>
                            <td colspan="4" class="text-center">Loading...</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
<div class="modal fade" id="assignedModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">Assigned Volunteer Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body">

                <table class="table table-bordered">

                    <tr>
                        <th>Name</th>
                        <td id="vName"></td>
                    </tr>

                    <tr>
                        <th>Mobile</th>
                        <td id="vMobile"></td>
                    </tr>

                    <tr>
                        <th>Email</th>
                        <td id="vEmail"></td>
                    </tr>

                    <tr>
                        <th>Assigned Date</th>
                        <td id="vDate"></td>
                    </tr>
                    <div class="row mb-2">
                        <div class="col-md-4"><strong>Delivery Status:</strong></div>
                        <div class="col-md-8" id="vStatus"></div>
                    </div>
                </table>

            </div>

        </div>
    </div>
</div>
<div class="modal fade" id="detailsModal" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">Charity Item Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body">

                <div class="row">

                    <div class="col-md-4 text-center">
                        <img id="dImage" class="img-fluid img-thumbnail" style="max-height:200px;" />
                    </div>

                    <div class="col-md-8">

                        <p><b>Item Name:</b> <span id="dItemName"></span></p>
                        <p><b>Description:</b> <span id="dDescription"></span></p>
                        <p><b>Quantity:</b> <span id="dQuantity"></span></p>
                        <p><b>Status:</b> <span id="dStatus"></span></p>
                        <p><b>Created Date:</b> <span id="dCreatedDate"></span></p>

                        <hr />

                        <h6>Posted Member Details</h6>

                        <p><b>Name:</b> <span id="dMemberName"></span></p>
                        <p><b>Mobile:</b> <span id="dMemberMobile"></span></p>
                        <p><b>Email:</b> <span id="dMemberEmail"></span></p>

                    </div>

                </div>

            </div>

        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        loadCharityItems();
    });

    function loadCharityItems() {

        $.ajax({
            url: '/api/Community/GetCharityListByCommunity',
            type: 'GET',
            success: function (res) {

                var html = "";

                if (!res || res.length === 0) {
                    html += "<tr><td colspan='7' class='text-center'>No records found</td></tr>";
                }
                else {

                    $.each(res, function (i, item) {

                        html += "<tr>";

                        html += "<td>";
                        if (item.imagePath) {
                            html += "<img src='" + item.imagePath + "' class='img-thumbnail' style='width:80px;height:80px;' />";
                        } else {
                            html += "<img src='/images/noimage.png' class='img-thumbnail' style='width:80px;height:80px;' />";
                        }
                        html += "</td>";

                        html += "<td>" + (item.itemName || "") + "</td>";
                        html += "<td>" + (item.description || "") + "</td>";
                        html += "<td>" + item.quantity + "</td>";

                        if (item.status === "Pending")
                            html += "<td><span class='badge bg-warning text-dark'>Pending</span></td>";
                        else if (item.status === "Approved")
                            html += "<td><span class='badge bg-success'>Approved</span></td>";
                        else if (item.status === "Assigned")
                            html += "<td><span class='badge bg-primary'>Assigned</span></td>";
                        else
                            html += "<td><span class='badge bg-danger'>Rejected</span></td>";

                        html += "<td>" + (item.createdDate ? new Date(item.createdDate).toLocaleDateString() : "-") + "</td>";

                        html += "<td>";

                        html += "<button class='btn btn-sm btn-info me-1' onclick='viewDetails(" + item.charityItemId + ")'>Details</button>";

                        if (item.status === "Approved" || item.status === "Pending") {
                            html += "<button class='btn btn-sm btn-primary' onclick='openVolunteerModal(" + item.charityItemId + ")'>Assign Volunteer</button>";
                        }
                        else if (item.status === "Assigned") {
                            html += "<button class='btn btn-sm btn-success' onclick='viewAssigned(" + item.charityItemId + ")'>Assigned</button>";
                        }
                        else {
                            html += "-";
                        }

                        html += "</td>";

                        html += "</tr>";
                    });
                }

                $("#tblCharity tbody").html(html);
            }
        });
    }

    function openVolunteerModal(charityId) {

        console.log("Selected CharityItemId:", charityId);

        $("#selectedCharityId").val(charityId);
        $("#volunteerModal").modal("show");

        $.ajax({
            url: '/api/Community/GetVolunteers',
            type: 'GET',
            success: function (res) {

                var html = "";

                if (!res || res.length === 0) {
                    html = "<tr><td colspan='4' class='text-center'>No volunteers found</td></tr>";
                }
                else {

                    $.each(res, function (i, v) {

                        html += "<tr>";
                        html += "<td>" + (v.FullName || "") + "</td>";
                        html += "<td>" + (v.Mobile || "") + "</td>";
                        html += "<td>" + (v.Email || "") + "</td>";

                        html += "<td><button class='btn btn-sm btn-success' onclick='assignVolunteer(\"" + v.UserId + "\")'>Assign</button></td>";

                        html += "</tr>";
                    });
                }

                $("#tblVolunteers").html(html);
            }
        });
    }

    function assignVolunteer(volunteerId) {

        var charityItemId = $("#selectedCharityId").val();

        if (!charityItemId) {
            alert("Charity ID missing");
            return;
        }

        var payload = {
            CharityItemId: parseInt(charityItemId),
            AssignedToUserId: volunteerId
        };

        console.log("Sending Payload:", payload);

        $.ajax({
            url: '/api/Community/Assign',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(payload),
            success: function (res) {

                alert(res.message);

                $("#volunteerModal").modal("hide");
                loadCharityItems(); // refresh grid
            },
            error: function (err) {
                console.log(err.responseText);
                alert("Assignment Failed");
            }
        });
    }

    $(document).ready(function () {
        loadCharityItems();
    });

    function viewAssigned(charityItemId) {

        $.ajax({
            url: '/api/Community/GetAssignedVolunteer?charityItemId=' + charityItemId,
            type: 'GET',
            success: function (res) {

                if (res) {

                    $("#vName").text(res.fullName);
                    $("#vMobile").text(res.mobile);
                    $("#vEmail").text(res.email);

                    if (res.assignedDate)
                        $("#vDate").text(new Date(res.assignedDate).toLocaleDateString());
                    else
                        $("#vDate").text("-");

                    var statusHtml = "";

                    if (res.deliveryStatus === "Accepted") {
                        statusHtml = "<span class='badge bg-info'>Accepted</span>";
                    }
                    else if (res.deliveryStatus === "Delivered") {
                        statusHtml = "<span class='badge bg-success'>Delivered</span>";
                    }
                    else {
                        statusHtml = "<span class='badge bg-primary'>Assigned</span>";
                    }

                    $("#vStatus").html(statusHtml);

                    $("#assignedModal").modal("show");
                }
            },
            error: function () {
                alert("Failed to load volunteer details");
            }
        });
    }
    function viewDetails(charityItemId) {

        $.ajax({
            url: '/api/Community/GetCharityItemDetails?charityItemId=' + charityItemId,
            type: 'GET',
            success: function (res) {

                if (!res) {
                    alert("No details found");
                    return;
                }

                $("#dItemName").text(res.itemName);
                $("#dDescription").text(res.description);
                $("#dQuantity").text(res.quantity);
                $("#dStatus").text(res.status);

                if (res.createdDate)
                    $("#dCreatedDate").text(new Date(res.createdDate).toLocaleDateString());

                $("#dMemberName").text(res.postedMemberName);
                $("#dMemberMobile").text(res.mobile);
                $("#dMemberEmail").text(res.email);

                if (res.imagePath)
                    $("#dImage").attr("src", res.imagePath);
                else
                    $("#dImage").attr("src", "/images/noimage.png");

                $("#detailsModal").modal("show");
            },
            error: function () {
                alert("Failed to load item details");
            }
        });
    }
</script>